@page

@inject IOrchardHelper OrchardHelper

@model OrchardCMS.Pages.ProjectsModel

@{
    ViewData["Title"] = "Projects";
}

<h1>Our project offerings: (lucene queries)</h1>
@{
    // Query name: ProjectsAll

    foreach (dynamic project in await OrchardHelper.QueryAsync("ProjectsAll"))
    {
        <p>
            @project.ContentItemId
        </p>
    }
}

@{
    //Query: ProjectsAllItems
    foreach (dynamic projectItem in await OrchardHelper.QueryAsync("ProjectsAllItems"))
    {
        var path = (projectItem.Content.Project.Logo.Paths[0]);
        <img src="@OrchardHelper.AssetUrl((string)path,400,300, OrchardCore.Media.Processing.ResizeMode.Crop)" />
    }
}
<h1>Our project offerings: (sql queries)</h1>

@{
    <div>Query name: ProjectsAllSQL</div>

    foreach (dynamic project in await OrchardHelper.QueryAsync("ProjectsAllSQL"))
    {
        <p>
            @project.DisplayText
        </p>
    }
}

@{
    <div> Query: ProjectsAllItemsSQL</div>
    foreach (dynamic projectItem in await OrchardHelper.QueryAsync("ProjectsAllItemsSQL"))
    {
        <img src="@OrchardHelper.AssetUrl((string)projectItem.Content.Project.Logo.Paths[0],400,300, OrchardCore.Media.Processing.ResizeMode.Crop)" />
    }
}